.details-area img{
 width: 100%;
 text-align: center;
 padding: 20px 0;
}
.details-area{
    background-color:blue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.fromArea{
    background-color: cyan;
    padding: 15px;
    border-radius: 10px;
}
.rideName{
    border-radius: 10px;  
}
.from-to{
    border-radius: 10px; 
} 
.dynamicImg-area{
    border-radius: 10px;
    background-color: blueviolet;
}
.ride{
    background-color: aqua;
    border-radius: 10px;
    margin: 10px 0;
 }
.ride img {
    border-radius: 50%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
