.home-area{
    background-image:linear-gradient( rgba(110, 29, 29, 0.575), rgba(0, 0, 0, 0.5) ), url(../images/homeBg.jpg);
    width: 100vw;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}